@using Nager.Date.Website.Models
@model IEnumerable<RegionStatisticDto>
@{
    ViewData["Title"] = "Region Statistic";
}

<div class="container-fluid">
    <div class="row">
        @foreach (var regionStatistic in Model)
        {
        <div class="col-12 col-md-4 mt-4 mb-4">
            <div class="card p-2">
                <header class="card-header border-0">@regionStatistic.RegionName</header>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th style="width: 50%">Available countries</th>
                                <th style="width: 50%">Missing countries</th>
                            </tr>
                            <tr>
                                <td>
                                    @foreach (var country in regionStatistic.AvailableCountries)
                                    {
                                        @country.CommonName<br />
                                    }
                                </td>
                                <td>
                                    @foreach (var country in regionStatistic.MissingCountries)
                                    {
                                        @country.CommonName<br />
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
    </div>

</div>