@{
    ViewData["Title"] = "Worldwide Public Holiday Api";
    ViewData["Description"] = "A free API for public holiday data. We currently support over 100 countries.";
}

<div class="container">

    <div class="mt-4 mb-4">
        <h2>Public Holiday API</h2>
        
        You can use this project direct if you are use .net or alternative you can use the api. If you need many request please host your own api instance.<br />
        <a href="/swagger">API Documentation</a>
    </div>

    <h4>Example <small>Returns the public holidays from a given year and country.</small></h4>

    <div class="card mt-4">
        <div class="p-4">
            <a href="/api/v2/PublicHolidays/2017/AT">https://date.nager.at/api/v2/publicholidays/2017/AT</a>
        </div>
    </div>

    <div class="card mt-4">
        <header class="card-header border-0">Request</header>

        <div class="p-4">

            <div class="alert alert-success">
                <strong>GET</strong> /PublicHolidays/{Year}/{CountryCode}
            </div>

            <table class="table" style="background-color:#ffffff;">
                <thead>
                    <tr>
                        <th>Parameters</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Year</td>
                        <td>2017</td>
                    </tr>
                    <tr>
                        <td>CountryCode</td>
                        <td>AT</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-4 mb-4">
        <header class="card-header border-0">Response</header>

        <div class="m-2 ml-4">
            <h6>Model</h6>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <th>date</th>
                        <td>The date</td>
                    </tr>
                    <tr>
                        <th>localName</th>
                        <td>Local name</td>
                    </tr>
                    <tr>
                        <th>name</th>
                        <td>English name</td>
                    </tr>
                    <tr>
                        <th>countryCode</th>
                        <td>ISO 3166-1 alpha-2</td>
                    </tr>
                    <tr>
                        <th>fixed</th>
                        <td>Is this public holiday every year on the same date</td>
                    </tr>
                    <tr>
                        <th>global</th>
                        <td>Is this public holiday in every county (federal state)</td>
                    </tr>
                    <tr>
                        <th>counties</th>
                        <td>ISO-3166-2 - Federal states</td>
                    </tr>
                    <tr>
                        <th>launchYear</th>
                        <td>The launch year of the public holiday</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <pre class="prettyprint ml-4" style="height:400px;">[
   {
      "date":"2017-01-01",
      "localName":"Neujahr",
      "name":"New Year's Day",
      "countryCode":"AT",
      "fixed":true,
      "global":true,
      "counties":null,
      "launchYear":1967,
      "type":"Public"
   },
   {
      "date":"2017-01-06",
      "localName":"Heilige Drei Könige",
      "name":"Epiphany",
      "countryCode":"AT",
      "fixed":true,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   },
   {
      "date":"2017-04-17",
      "localName":"Ostermontag",
      "name":"Easter Monday",
      "countryCode":"AT",
      "fixed":false,
      "global":true,
      "counties":null,
      "launchYear":1642,
      "type":"Public"
   },
   {
      "date":"2017-05-01",
      "localName":"Staatsfeiertag",
      "name":"National Holiday",
      "countryCode":"AT",
      "fixed":true,
      "global":true,
      "counties":null,
      "launchYear":1955,
      "type":"Public"
   },
   {
      "date":"2017-05-25",
      "localName":"Christi Himmelfahrt",
      "name":"Ascension Day",
      "countryCode":"AT",
      "fixed":false,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   },
   {
      "date":"2017-06-05",
      "localName":"Pfingstmontag",
      "name":"Whit Monday",
      "countryCode":"AT",
      "fixed":false,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   },
   {
      "date":"2017-06-15",
      "localName":"Fronleichnam",
      "name":"Corpus Christi",
      "countryCode":"AT",
      "fixed":false,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   },
   {
      "date":"2017-08-15",
      "localName":"Maria Himmelfahrt",
      "name":"Assumption Day",
      "countryCode":"AT",
      "fixed":true,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   },
   {
      "date":"2017-10-26",
      "localName":"Staatsfeiertag",
      "name":"National Holiday",
      "countryCode":"AT",
      "fixed":true,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   },
   {
      "date":"2017-11-01",
      "localName":"Allerheiligen",
      "name":"All Saints' Day",
      "countryCode":"AT",
      "fixed":true,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   },
   {
      "date":"2017-12-08",
      "localName":"Mariä Empfängnis",
      "name":"Immaculate Conception",
      "countryCode":"AT",
      "fixed":true,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   },
   {
      "date":"2017-12-25",
      "localName":"Weihnachten",
      "name":"Christmas Day",
      "countryCode":"AT",
      "fixed":true,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   },
   {
      "date":"2017-12-26",
      "localName":"Stefanitag",
      "name":"St. Stephen's Day",
      "countryCode":"AT",
      "fixed":true,
      "global":true,
      "counties":null,
      "launchYear":null,
      "type":"Public"
   }
]</pre>
    </div>

</div>

@section scripts {
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
}
