
@{
    ViewData["Title"] = "Api";
}

<div class="container">

    <div class="mt-4">
        <h2>Public Holiday API</h2>
        Returns the public holidays from given country and year
        <a href="/api/v1/get/AT/2017">https://date.nager.at/api/v1/get/{CountryCode}/{Year}</a><br />
        The full documentation is in the <a href="/swagger">Swagger interface</a> available.
    </div>

    <div class="card mt-4">
        <header class="card-header border-0">Request</header>

        <div class="p-4">

            <div class="alert alert-success">
                <strong>GET</strong> /get/{CountryCode}/{Year}
            </div>

            <table class="table" style="background-color:#ffffff;">
                <thead>
                    <tr>
                        <th>Parameters</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>CountryCode</td>
                        <td>AT</td>
                    </tr>
                    <tr>
                        <td>Year</td>
                        <td>2017</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-4 mb-4">
        <header class="card-header border-0">Response</header>
<pre class="prettyprint" style="height:400px;">[  
   {  
      "date":"2017-01-01",
      "localName":"Neujahr",
      "name":"New Year's Day",
      "countryCode":"AT",
      "fixed":true,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":1967
   },
   {  
      "date":"2017-01-06",
      "localName":"Heilige Drei Könige",
      "name":"Epiphany",
      "countryCode":"AT",
      "fixed":true,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   },
   {  
      "date":"2017-04-17",
      "localName":"Ostermontag",
      "name":"Easter Monday",
      "countryCode":"AT",
      "fixed":false,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":1642
   },
   {  
      "date":"2017-05-01",
      "localName":"Staatsfeiertag",
      "name":"National Holiday",
      "countryCode":"AT",
      "fixed":true,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":1955
   },
   {  
      "date":"2017-05-25",
      "localName":"Christi Himmelfahrt",
      "name":"Ascension Day",
      "countryCode":"AT",
      "fixed":false,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   },
   {  
      "date":"2017-06-05",
      "localName":"Pfingstmontag",
      "name":"Whit Monday",
      "countryCode":"AT",
      "fixed":false,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   },
   {  
      "date":"2017-06-15",
      "localName":"Fronleichnam",
      "name":"Corpus Christi",
      "countryCode":"AT",
      "fixed":false,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   },
   {  
      "date":"2017-08-15",
      "localName":"Maria Himmelfahrt",
      "name":"Assumption Day",
      "countryCode":"AT",
      "fixed":true,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   },
   {  
      "date":"2017-10-26",
      "localName":"Staatsfeiertag",
      "name":"National Holiday",
      "countryCode":"AT",
      "fixed":true,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   },
   {  
      "date":"2017-11-01",
      "localName":"Allerheiligen",
      "name":"All Saints' Day",
      "countryCode":"AT",
      "fixed":true,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   },
   {  
      "date":"2017-12-08",
      "localName":"Mariä Empfängnis",
      "name":"Immaculate Conception",
      "countryCode":"AT",
      "fixed":true,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   },
   {  
      "date":"2017-12-25",
      "localName":"Weihnachten",
      "name":"Christmas Day",
      "countryCode":"AT",
      "fixed":true,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   },
   {  
      "date":"2017-12-26",
      "localName":"Stefanitag",
      "name":"St. Stephen's Day",
      "countryCode":"AT",
      "fixed":true,
      "countyOfficialHoliday":true,
      "countyAdministrationHoliday":true,
      "global":true,
      "counties":null,
      "launchYear":null
   }
]</pre>
    </div>

</div>

@section scripts {
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
}
