body {
    padding-top: 50px;
    background-color: #e0e0e0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    position: relative;
    background-image: url('/images/sky.jpg');
    height: 400px;
}

.header-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    padding-left: 40px;
}

.header h1 {
    color: #ffffff;
}

.header p {
    color: #ffffff;
}

@media (max-width: 767px) {
    .header {
        position: static;
        background-image: none;
        height: auto;
    }

    .header-content {
        position: static;
        padding: 10px;
    }

    .header h1 {
        color: #000000;
    }

    .header p {
        color: #000000;
    }
}

.navbar {
    background-color: #212529;
    border-color: #212529;
}

.navbar-collapse li {
    border-left: 1px solid #333333;
}

.navbar a {
    color: #ffffff !important;
}

.body-content {
    padding-bottom: 30px;
}

footer {
    padding: 30px;
    padding-bottom: 50px;
    background-color: #212529;
    color: #868e96;
}

    footer a {
        color: #868e96;
        text-decoration: underline;
    }

.footer-col {
    text-align: left;
}

.copyright {
    padding: 30px;
    text-align: center;
}

.thumbnail {
    padding: 10px;
}

    .thumbnail:hover {
        background-color: #fefefe;
        border: 1px solid #212529;
    }

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}
