[v-cloak] {
    display: none;
}

body {
    background-color: #f6f7f9;
}

.public-holiday-country-header {
    background-color: #ffffff;
    height: 20vh;
    min-height: 150px;
}

@media (max-width: 1200px) {
    .public-holiday-country-header h1 {
        text-align: center;
        font-size: 30px;
    }

    .public-holiday-country-header h4 {
        text-align: center;
        font-size: 14px;
    }

    .mt-5 {
        margin-top: 0px !important;
    }
}

.navbar {
    background-color: #346cb0 !important;
}

.border-0 {
    border: 0 !important;
}

.card {
    border: none;
    box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);
}

.card-metric {
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: .25rem;
    box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);
}

.metric {
    margin: .5rem 0;
    min-height: 8.5rem;
}

.card-header {
    font-weight: 600;
    background-color: transparent !important;
}

.card-body {
    background-color: #ffffff;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    border-radius: .25rem;
}

.btn-secondary {
    color: #363642;
    background: linear-gradient(180deg,#fff,#f6f7f9);
    border-color: #d7dce5;
    box-shadow: 0 1px 0 0 rgba(20,20,31,.05);
}

.btn-secondary:hover {
    color: #333333;
    background: linear-gradient(180deg,#f6f7f9,#f6f7f9);
    border-color: #d7dce5;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    position: relative;
    background-image: url('/images/sky.jpg');
    height: 360px;
}

.header-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    padding-left: 40px;
}

.header h1 {
    color: #ffffff;
}

.header p {
    color: #ffffff;
}

pre.prettyprint {
    border-width: 0px !important;
    padding: 10px !important;
}


footer {
    padding: 30px;
    padding-bottom: 50px;
    background-color: #212529;
    color: #868e96;
}

footer a {
    color: #868e96;
    text-decoration: underline;
}

.footer-col {
    text-align: left;
}

.copyright {
    padding: 30px;
    text-align: center;
}

.longweekend {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2px;
    table-layout: fixed;
}

.longweekend td {
    text-align: center;
    border: 1px solid #dddddd;
    border-right-width: 0px;
    border-bottom-width: 0px;
}

.longweekend .day-count {
    width: 90px;
    border-left-width: 0px;
}

.longweekend .day-count strong {
    font-size: 18pt;
}

.longweekend .day-count small {
    display: block;
    margin-top: -6px;
    margin-bottom: 4px;
}

.longweekend .info-start {
    width: 120px;
}

.longweekend .info-end {
    width: 120px;
}

.longweekend .day {
    text-align: center;
}
