@{
    ViewBag.Title = "Api";
}

<h1>Api</h1>
The Public Holiday Api returns a JSON response<br />
<br />
<a href="http://publicholiday.azurewebsites.net/PublicHoliday/CountryJson/AT/2017">publicholiday.azurewebsites.net/PublicHoliday/CountryJson/AT/2017</a>

<h2>Parameters</h2>
<table class="table">
    <tr>
        <th>Parameter</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>CountryCode</td>
        <td>AT</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>2017</td>
    </tr>
</table>