@{
    ViewBag.Title = "Public Holidays";
}
<h1>Public Holidays</h1>
<p>A project to collect all public holidays for many countries. If you found a failure please report to the github project</p>
<br />
<br />
Source Code: <a href="https://github.com/tinohager/Nager.Date">github.com/tinohager/Nager.Date</a>
<br />
<br />
WEB API: <a href="http://publicholiday.azurewebsites.net/PublicHoliday/CountryJson/AT/2017">publicholiday.azurewebsites.net/PublicHoliday/CountryJson/AT/2017</a>