@{
    ViewBag.Title = "Public Holidays";
}
<h1>Public Holidays</h1>
<p>A small web project to show all public holidays for many countrys.</p>
<br />
<br />
Source Code: <a href="https://github.com/tinohager/Nager.Date">github.com/tinohager/Nager.Date</a>