body {
    padding-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #003459;
}

.navbar-collapse li {
    border-left: 1px solid #00477a;
}

.navbar a {
    color: #ffffff !important;
}

.body-content
{
    padding-bottom: 30px;
}

footer {
    padding: 20px;
    background-color: #003459;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-col
{
    text-align: left;
}