@{
    ViewData["Title"] = "Public Holidays";
}

<div class="header">
    @*<div class="header-content">
        <h1>Public Holidays</h1>
        <p>Public holiday calculation for every year, based on easter sunday, country and county support. Supports more than <strong>90</strong> countries.</p>
    </div>*@
</div>

<div id="App" class="container-fluid" v-cloak>

    <div class="row">

        <div class="col-md-12 col-xl-6">

            <div class="card mt-4 mb-4">
                <header class="card-header border-0"><i class="fas fa-globe-africa"></i> Countries</header>

                <div>
                    <div class="input-group mb-3 ml-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-search"></i></div>
                        </div>
                        <input v-model="search" type="text" class="form-control p-3" placeholder="Search">
                    </div>
                </div>

                <div v-if="availableCountries">
                    <div class="table-responsive">
                        <div class="pre-scrollable">
                            <table class="table">
                                <tr v-for="item in filteredCountries">
                                    <td class="pl-4"><a :href="'/PublicHoliday/Country/' + item.key">{{ item.value }} ({{ item.key }})</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-none d-sm-block">
                <div class="card mt-4">
                    <header class="card-header border-0" v-if="countryInfo"><i class="far fa-calendar-check"></i> Next Public Holidays Worldwide in the next 7 days</header>
                    <div v-if="publicHolidaysWorldwide">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>In x Days</th>
                                    <th>Date</th>
                                    <th>Local Name</th>
                                    <th>English Name</th>
                                    <th>Country</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in publicHolidaysWorldwide">
                                    <td>{{ item.date | inDays }}</td>
                                    <td>{{ item.date | shortLocalDate }}</td>
                                    <td>{{ item.localName }}</td>
                                    <td>{{ item.name }}</td>
                                    <td><a :href="'/PublicHoliday/Country/' + item.countryCode">{{ item.countryCode }}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 col-xl-6">

            <div class="card mt-4">
                <header class="card-header border-0" v-if="countryInfo"><i class="far fa-calendar-check"></i> Next Public Holidays in {{ countryInfo.commonName }}</header>
                <div v-if="publicHolidays">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Local Name</th>
                                <th>English Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in publicHolidays">
                                <td>{{ item.date | shortLocalDate }}</td>
                                <td>{{ item.localName }}</td>
                                <td>{{ item.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        new Vue({
            el: '#App',
            data: {
                countryInfo: null,
                availableCountries: null,
                publicHolidays: null,
                publicHolidaysWorldwide: null,
                search: null
            },
            computed: {
                filteredCountries: function () {
                    if (this.search === null) {
                        return this.availableCountries;
                    }

                    let search = this.search.toLowerCase();
                    let filteredItems = this.availableCountries.filter(o => o.value.toLowerCase().includes(search) || o.key.toLowerCase().includes(search));

                    return filteredItems;
                }
            },
            filters: {
                inDays: function (date) {
                    let fromNow = moment(date).fromNow();

                    // ensure the date is displayed with today and yesterday
                    return moment(date).calendar(null, {
                        // when the date is closer, specify custom values
                        sameDay: '[Today]',
                        nextDay: '[Tomorrow]',
                        nextWeek: function () {
                            return "[" + fromNow + "]";
                        },     
                        sameElse: function () {
                            return "[" + fromNow + "]";
                        }
                    });
                },
                shortLocalDate: function (date) {
                    var locale = window.navigator.userLanguage || window.navigator.language;
                    moment.locale(locale);
                    return moment(date).format('L');
                }
            },
            mounted() {
                this.getAvailableCountries();
                this.getCountryInfo();
                this.getNextPublicHolidaysWorldwide();
                
            },
            methods: {
                getAvailableCountries: function () {
                    axios.get('/Api/v2/AvailableCountries')
                        .then(response => {
                            this.availableCountries = response.data
                        });
                },
                getCountryInfo: function () {
                    axios.get('/Api/v2/CountryInfo')
                        .then(response => {
                            this.countryInfo = response.data
                            this.getNextPublicHolidays();
                        });
                },
                getNextPublicHolidays: function () {
                    axios.get('/Api/v2/NextPublicHolidays/' + this.countryInfo.countryCode)
                        .then(response => {
                            this.publicHolidays = response.data
                        });
                },
                getNextPublicHolidaysWorldwide: function () {
                    axios.get('/Api/v2/NextPublicHolidaysWorldwide')
                        .then(response => {
                            this.publicHolidaysWorldwide = response.data
                        });
                }
            }
        })

    </script>
}
